<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <title>EC2 Instance Details</title>
</head>
<body>
    <div class="container">
        <h4 class="center-align">EC2 Instance Details</h4>
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card">
                    <div class="card-content">
                        <p><strong>Instance ID:</strong> {{ ec2_instance_details.id }}</p>
                        <p><strong>Instance Type:</strong> {{ ec2_instance_details.type }}</p>
                        <p><strong>Private IP:</strong> {{ ec2_instance_details.private_ip }}</p>
                        <p><strong>Subnet ID:</strong> {{ ec2_instance_details.subnet_id }}</p>
                        <p><strong>Av. Zone:</strong> {{ ec2_instance_details.av_zone }}</p>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="center-align">Well, there is no much here :)</h5>
        <h5 class="center-align">But a website shoudln't be so boring, so take this IMDB top 100 recomendation:</h5>

        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s4">
                                <img src="https://image.tmdb.org/t/p/w342{{ imdb_movie.poster_path }}" alt="{{ imdb_movie.title }}" class="responsive-img">
                            </div>
                            <div class="col s8">
                                <p><strong>Title:</strong> {{ imdb_movie.title }}</p>
                                <br>
                                <p><strong>Summary:</strong> {{ imdb_movie.overview }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
